/* Stile für .YouTube */
.YouTube {
    background-color: black;
    height: 100%;
    position: relative; /* Füge relative Positionierung hinzu */
    overflow: hidden; /* Verhindert Überlauf */
}

.YouTube .Paragraph {
    width: 65%;
}

.YouTube .YouTubeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* Stile für .Background */
.YouTube .Background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Breite auf 100% setzen */
    height: 100%; /* Höhe auf 100% setzen */
    z-index: 0;
}

/* Stile für .Videos */
.YouTube .Videos {
    width: 70%;
}

.YouTube .Videos .VideoContainer {
    display: flex;
    margin-bottom: 5%;
    height: 100%;
    align-items: center;
    background: #141313;
    border-radius: 10px;
    box-shadow: 1px 1px 0 0 white;
}

.YouTube .VideoContainer .Text {
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 45%;
}

.YouTube .VideoContainer .Thumbnail {
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 45%;
    position: relative;
    padding: 2.5%;
}

.YouTube .VideoContainer .Thumbnail img {
    max-width: 100%;
    width: auto;
    height: auto;
    padding: 5%;
}

.YouTube .VideoContainer .Thumbnail .PlayButton {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
