/* NavBar.module.css */

.NavBar {
    background: #181818;
    width: 100%;
    position: fixed;
    z-index: 999;
    opacity: 0.9;
    display: flex;
    flex-wrap: wrap; /* Erlaubt das Umbruch der Elemente in die nächste Zeile */
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s ease;
}

.NavBar.navScrolled {
    background: rgba(24, 24, 24, 0.9);
}

.NavBar nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Umbruch der Links in die nächste Zeile */
    justify-content: center;
    align-items: center;
}

.NavBar nav ul li {
    margin: 0 20px;
}

.NavBar nav ul li a {
    text-decoration: none;
    color: white;
}

.NavBar a:hover {
    border-bottom: 5px solid #8C1CD1;
}

.NavBar a:active {
    color: #8C1CD1;
}

.NavBar .Time {
    text-decoration: none;
    color: white;
    margin-left: 30px;
}

#about, #skills, #youtube, #contact {
    margin-top: 80px;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .NavBar {
        flex-direction: column; /* Elemente in eine Spalte auf kleinen Bildschirmen anordnen */
    }

    .NavBar nav ul li {
        margin: 10px 10px; /* Reduzieren Sie den Abstand zwischen den Links auf kleinen Bildschirmen */
    }

    .NavBar .Time {
        margin-left: 0;
        margin-top: 10px;
    }

    #about, #skills, #youtube, #contact {
        margin-top: 10px; /* Reduzieren Sie den Abstand auf kleinen Bildschirmen */
    }
}
